:root {
    --light_gray: #eae8e8;
    --medium-gray: #9a9a9a;
    --white:#ffff;
    --black:#000;
}



p {
    align-self: center;
}

html, body {
    font-family: 'Poppins', sans-serif;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.border_background {
    border: 2px solid var(--medium-gray);
    background-color: var(--light_gray);
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 80%;
    border: 1px solid var(--black);

}

.bounder {
    display: flex;
    margin: auto;
    height: 90%;
    width: 90%;

}

.inner_table {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.white_block {
    height: 100%;
    width: 12.5%;
    background-color: var(--white);
}

.black_block {
    height: 100%;
    width: 12.5%;
    background-color: var(--black);
}

.row {
    display: flex;
    height: 12.5%;
    width: 100%;

}
.figure {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    background-color: var(--medium-gray);
    display: inline-block;
}

.img {
    height: 100px;
    width: 100%;

}